/* nib utilities for stylus */
body {
  font-family: 'Helvetica' Arial sans-serif;
  color: #2a2a2a;
  background-color: #f3f3f3;
  margin: 0;
}
header {
  font-family: 'Helvetica';
  padding: 16px 8px;
  margin: 0;
  color: #fefefe;
  text-shadow: 0px 1px 19px #5e962a;
  font-size: 25px;
  text-align: center;
  background: -webkit-linear-gradient(280deg, #7dc739, #9ed56b);
  background: -moz-linear-gradient(280deg, #7dc739, #9ed56b);
  background: -o-linear-gradient(280deg, #7dc739, #9ed56b);
  background: -ms-linear-gradient(280deg, #7dc739, #9ed56b);
  background: linear-gradient(170deg, #7dc739, #9ed56b);
}
a {
  text-decoration: none;
  color: #5bb7e3;
}
a:visited {
  color: #8ccdeb;
}
.forkme {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
.forkme img {
  width: 149px;
  height: 149px;
}
.container {
  width: 540px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  width: 500px;
  background-color: #fefefe;
  padding: 20px 20px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px 10px;
  color: #2a2a2a;
}
p {
  margin: 10px;
}
p.hint {
  color: #aaa;
}
#error {
  color: #b30000;
  background-color: #fcc;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#error div {
  padding: 8px;
}
ul.ingestlist {
  padding: 4px 12px 4px 12px;
  list-style-type: none;
}
ul.ingestlist li {
  padding: 3px 8px 3px 8px;
  font-size: 18px;
  color: #aaa;
  overflow: none;
}
.ingestitem {
  cursor: pointer;
}
.ingestitem:hover {
  color: #797979;
}
.ingestinput {
  padding: 4px 8px 4px 8px;
  margin: 8px 16px 8px 16px;
  border: 1px solid #f3f3f3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  width: 60%;
  font-size: 16px;
}
.ingestinput:focus {
  border: 1px solid #aaa;
}
.created {
  color: #fefefe;
  font-size: 18px;
  padding: 10px 10px;
  margin: 5px auto 5px 20px;
  background: -webkit-linear-gradient(280deg, #7dc739, #9ed56b);
  background: -moz-linear-gradient(280deg, #7dc739, #9ed56b);
  background: -o-linear-gradient(280deg, #7dc739, #9ed56b);
  background: -ms-linear-gradient(280deg, #7dc739, #9ed56b);
  background: linear-gradient(170deg, #7dc739, #9ed56b);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.created a {
  color: #fefefe;
}
.logout {
  padding: 0;
  margin: 40px 4px 4px 4px;
  font-size: 13px;
}
footer {
  width: 500px;
  margin: 50px auto;
  background-color: #f3f3f3;
  color: #aaa;
  padding-top: 5px;
  font-size: 13px;
}
.spinner {
  display: inline-block;
  margin: 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #9ed56b;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  -moz-animation: bouncedelay 1.4s infinite ease-in-out;
  -o-animation: bouncedelay 1.4s infinite ease-in-out;
  -ms-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
/* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  -o-animation-delay: -0.32s;
  -ms-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  -o-animation-delay: -0.16s;
  -ms-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
