extend layout
block content
  p
    | This is a demo application that imports github issues into Coggle, where
    | you can analyse them and plan work. 
  
  if !access_tokens || !access_tokens.coggle
    p
      a(href="/auth/coggle") Authorize access to Coggle

  if !access_tokens || !access_tokens.github
    p
      a(href="/auth/github") Authorize access to Github
  
  if error
    p There was an error accessing your data: #{error}

  if github_repos
    p Awesome, you've authorized access! Here are your github repositories:
    if github_repos.length
      p#error
      ul.ingestlist
        each repo in github_repos
          li.ingestitem(fullname=repo.full_name)=repo.full_name
    else
      p Oh, looks like you don't have any repos of your own!

    p You can also enter the owner/name of a repository to import issues from
    div
      input.ingestinput(type=textarea) 
  
  if access_tokens
    p.logout
      a(href="/auth/deauth") Logout.
