doctype html
html
  head
    title #{title} - Index
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(text='text/javascript', src='/javascripts/main.js')
    if analytics_token
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{analytics_token}', 'auto');
        ga('send', 'pageview');
  body
    header
      a(class="forkme" href="https://github.com/Coggle/coggle-issue-importer")
        img(src="http://aral.github.io/fork-me-on-github-retina-ribbons/left-graphite@2x.png")
      h1 #{title}
    .container
      .main-content
        block content
    footer
      p
       | This is a node.js example API application for 
       a(href='http://coggle.it') Coggle
       |  built using Express, Jade and Stylus on the 
       a(href='http://coggle.it/developer') Coggle API
       | , and the 
       a(href='https://developer.github.com/v3/') Github API
       | .
      p
       | Get the 
       a(href='http://github.com/Coggle/coggle-issue-importer') source
       | .
       
