/* nib utilities for stylus */
@import 'nib'

coggle-grey = #b4b4b4
coggle-green = #9ed56b
lightgrey = #f3f3f3
lightblack = #2a2a2a
white = #fefefe

body
  font-family 'Helvetica'
  color lightblack
  background-color lightgrey
  margin: 0

header
  font-family 'Helvetica'
  padding 50px 10px
  margin 0
  color white
  text-shadow 0px 1px 19px darken(coggle-green, 40%)
  font-size 25px
  text-align center
  background linear-gradient(170deg, darken(coggle-green, 20%), coggle-green); 

.forkme
  position absolute
  top 0
  left 0
  border 0
.forkme img
  width 149px
  height 149px


.container
  width 500px
  margin 50px auto
  overflow hidden

.main-content
  float left
  width 300px

  p
    margin-bottom 20px

footer
  width 500px
  margin 50px auto
  background-color lightgrey
  color coggle-grey
  padding-top 5px
  font-size 13px
